body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1.center {
    text-align: center;
}

h2.center {
    text-align: center;
}

h2.bcenter {
    color: #00a1d6;
    text-align: center;
}

p.center {
    text-align: center;
}

a.center {
    text-align: center;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: "Microsoft YaHei";
}

article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Microsoft YaHei";
}

a:hover {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-family: "Microsoft YaHei";
    font-size: 5px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.footer-1 {
    margin-top: 60px;
    background-color: rgb(34, 34, 34);
}

    .footer-1 .media-container-row {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 100%;
        color: rgb(122, 122, 122);
    }

    .footer-1 a {
        color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }


.align-center {
    text-align: center;
}

.footer-1 .mbr-text {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

#nav-1 .header-inner {
    width: 100%;
}

    #nav-1 .header-inner::after {
        content: " ";
        height: 0px;
        display: block;
        visibility: hidden;
        clear: both;
    }

#nav-1 > a {
    display: inline-block;
    width: 138px;
    height: 22px;
}

#nav-1 img {
    height: 22px;
    width: auto;
}

#nav-1 nav {
    float: right;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

    #nav-1 nav ul {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

        #nav-1 nav ul li {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 6px;
            margin-bottom: 0px;
            margin-left: 0px;
            list-style-position: initial;
            list-style-image: initial;
            list-style-type: none;
            display: inline-block;
            zoom: 1;
        }

            #nav-1 nav ul li a {
                color: rgba(0, 0, 0, 0.5);
                font-size: 16px;
                padding-top: 6px;
                padding-right: 14px;
                padding-bottom: 6px;
                padding-left: 14px;
                position: relative;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                transition-delay: 0s;
                transition-property: all;
            }

                #nav-1 nav ul li a:hover {
                    text-decoration-line: none;
                    text-decoration-thickness: initial;
                    text-decoration-style: initial;
                    text-decoration-color: initial;
                }

                #nav-1 nav ul li a.active, #nav-1 nav ul li a:focus {
                    outline-color: initial;
                    outline-style: none;
                    outline-width: initial;
                    text-decoration-line: none;
                    text-decoration-thickness: initial;
                    text-decoration-style: initial;
                    text-decoration-color: initial;
                    color: white;
                    background-image: initial;
                    background-position-x: initial;
                    background-position-y: initial;
                    background-size: initial;
                    background-repeat-x: initial;
                    background-repeat-y: initial;
                    background-attachment: initial;
                    background-origin: initial;
                    background-clip: initial;
                    background-color: rgb(31, 181, 123);
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

.custom-logo {
    width: 25px;
    height: 24px;
    en: 1;
}

.c7666 {
    padding: 10px;
    color: #8d8d8d;
    text-align: center;
}